<div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-1">
        <div id="sidebar">
        	<ng-include src="'views/ds/dsMenu.html'"></ng-include>
        </div>
    </div>
    <div id="main-wrapper" class="col-md-11 pull-right">
        <div id="main" ui-view>
        	DS content here   
        </div>
        <div class="col-md-12 footer">
            <ul class="nav navbar-nav">
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </div>
</div>