<ul class="nav list-group">
    <li>
        <a class="list-group-item" href="#/ds/linkedlist"><i class="icon-home icon-1x"></i>Linked List</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 2</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 9</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 10</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 11</a>
    </li>
</ul>
